$pianogroove-blue: #003d52;
$pianogroove-blue-dark: #032c3a;
$pianogroove-blue-light: #F2F5F6;
$pianogroove-gold: #caad6f;
$pianogroove-gold-dark: #A28C58;
$pianogroove-turquoise: #00b38f;

#main-outlet {
  padding-top: 4.2857em;
}

.pianogroove-header-container {
  padding-top: 55px;
}

.pianogroove-header {
  padding-top: 0;

  &.discovery-categories, &.discovery-latest, &.discovery-top, &.loading-home {
    background-image: url($background-mobile);
  }

  .content {
    width: 100%;
  }

  .header {
    margin: 40px 20px;

    .text {
      width: 100%;
    }

    .image {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  .header-wrapper {
    flex-direction: column;
  }

  .menu {
    display: none;
  }
}

.guest-overlay {
  overflow: hidden;

  .content {
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: auto;
    justify-content: initial;

    .title {
      padding: 20px 30px 0 30px;
      text-align: center;
    }
  }

  .content > div {
    flex-shrink: 0;
    height: 100%;
    width: 100vw;
    scroll-snap-align: start;
    overflow: visible;
  }

  .text {
    padding: 10px 20px;
  }

  .mobile-menu {
    display: inline-flex;
    justify-content: center;
    width: 100vw;
    margin-top: 10px;

    a {
      margin: 0 0.2rem;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .link-circle {
        width: 1rem;
        height: 1rem;
        background-color: rgba($pianogroove-turquoise, 0.5);
        text-decoration: none;
        border-radius: 50%;
        position: relative;
      }
    }

    a.active .link-circle {
      background-color: rgba($pianogroove-turquoise, 1);
    }
  }
}

.pianogroove-header-search {
  width: 100%;
  box-sizing: border-box;

  .clear {
    right: 55px;
  }

  input {
    max-width: calc(100% - 80px);
  }
}
